<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.goddchen.android.fingerplay"
          android:versionName="0.10.0"
          android:versionCode="15">

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="false">

        <activity
            android:name="com.flat20.fingerplay.FingerPlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.flat20.fingerplay.settings.SettingsView"
            android:label="Settings"
            android:screenOrientation="landscape"
            />
    </application>

</manifest> 